@import url('./clash-grotesk.css');
@import url('./switzer.css');
@import "tailwindcss";

body {
  font-family: 'Switzer', sans-serif;
  background-color: #fafaf9; /* stone-50 */

}

.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 10px; 
  gap: 20px;
}
.masonry-item {
  break-inside: avoid;
}
